<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Open Dollar General Self Checkout</title>

	<link rel="apple-touch-icon" href="/favicon.png">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">

	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

	<link rel="stylesheet" href="/css/output.css">
</head>
<body x-data="setup()">
	<!-- Start Page -->
	<div class="h-screen w-screen max-h-screen overflow-hidden" x-show="startPage">
		<div class="h-2/3 min-h-2/3 w-[300%] ml-[-100%] rounded-bl-[50%] rounded-br-[50%] bg-[#fff100] text-center">
			<div class="w-screen mx-auto grid grid-cols-2 justify-center pt-16">
				<div><img class="mx-auto" src="/images/dg-logo-inverted.png" width="400"></div>
				<div><div class="mx-auto font-bold text-3xl text-left w-fit">Press Start or<br>scan an item to begin</div></div>
			</div>

			<div class="w-screen mx-auto grid grid-cols-8 pt-[2%]">
				<div class="col-span-2">&nbsp;</div>
				<div class="col-span-4">
					<div @click="startPage = false; scanPage = true; scanPageActions = true; document.getElementById('welcomeAudio').play();" class="grid grid-cols-3 w-fit rounded-3xl bg-black p-10 cursor-pointer">
						<div class="border-r-4 border-r-white w-fit pr-5"><img src="/images/cart.png" width="100"></div>
						<div class="text-white font-bold uppercase text-left text-4xl col-span-2 whitespace-nowrap">Start<br>Self Checkout</div>
					</div>
				</div>
			</div>
		</div>
		<div class="h-1/3 w-screen bg-white pt-10">
			<div class="grid grid-cols-8">
				<div class="col-span-3 text-right uppercase text-5xl">TO PAY<br>WITH</div>
				<div class="text-center"><img class="mx-auto" src="/images/dg-go.png" width="100"></div>
				<div class="col-span-2 text-4xl uppercase pl-5 whitespace-nowrap">SCAN QR CODE<br>FROM THE APP</div>
				<div><img class="-mt-20 min-w-[170px]" src="/images/qr_phone_hand.png" width="300"></div>
			</div>
		</div>
	</div>

	<!-- Scan Page -->
	<div class="h-screen w-screen max-h-screen overflow-hidden" x-show="scanPage">
		<div class="w-screen h-1/5 bg-white grid grid-cols-5 items-center p-5">
			<div class="text-2xl col-span-3">
				Welcome to Self-Checkout.<br>
				Please scan your items.<br>
				Press Pay Now when you are finished.
			</div>
			<div class="col-span-2"><img class="mx-auto" src="/images/dg-logo.png" width="400"></div>
		</div>

		<div class="w-screen h-4/5 grid grid-cols-5 bg-gradient-to-tr from-[#6694d2] to-[#5b6681]">
			<div class="col-span-5 bg-[url('/images/dg-letters.png')] bg-repeat grid grid-cols-5">
				<div class="w-100 min-h-full col-span-3">
					<div class="my-5 min-h-[90%] w-5/6 mx-auto bg-white rounded-sm shadow-2xl" @click="scanPageHotCheetos == false ? document.getElementById('dgBeep').play() : ''; scanPageHotCheetos = true;">
						<div class="grid grid-cols-6 grid-flow-row p-2">
							<div class="text-2xl col-span-5">Description</div>
							<div class="text-left text-2xl">$</div>
						</div>
						<div x-show="scanPageHotCheetos">
							<div class="grid grid-cols-6 grid-flow-row p-2">
								<div class="text-2xl col-span-5">Hot Cheetos</div>
								<div class="text-left text-2xl">$2.25</div>
							</div>
							<div class="grid grid-cols-6 grid-flow-row p-2 mt-60 bg-gray-200 font-bold">
								<div class="text-2xl col-span-4 text-right">Subtotal:</div>
								<div class="text-right text-2xl">$2.25</div>
							</div>
							<div class="grid grid-cols-6 grid-flow-row p-2 mt-2 bg-gray-200 font-bold">
								<div class="text-2xl col-span-4 text-right">Tax:</div>
								<div class="text-right text-2xl">$0.84</div>
							</div>
							<div class="grid grid-cols-3 grid-flow-row p-2 mt-20 font-bold">
								<div class="text-2xl">1 Item</div>
								<div class="text-right text-2xl">Due:</div>
								<div class="text-left text-2xl ml-12">$3.09</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Scan Page Actions -->
				<div class="col-span-2" x-show="scanPageActions">
					<div class="bg-white w-[75%] mt-5 max-h-[300px] rounded-2xl text-center py-5 mx-auto cursor-pointer" @click="document.getElementById('dgBeep').play()">
						<img src="/images/bell.png" class="mx-auto" width="125"><br>
						<div class="text-2xl -mt-5 leading-6">Call For<br>Help</div>
					</div>
					<div class="bg-white w-[75%] mt-5 max-h-[250px] rounded-2xl text-center py-5 mx-auto cursor-pointer" @click="document.getElementById('enterPhoneNumber').play(); scanPageActions = false; phoneNumberModal = true;">
						<img src="/images/digital-coupons.png" class="mx-auto" width="250"><br>
						<div class="text-2xl -mt-5 leading-6">Enter<br>Phone #</div>
					</div>
					<div class="bg-[#60c329] w-[75%] mt-5 max-h-[250px] rounded-2xl text-center py-6 mx-auto grid grid-cols-2 items-center gap-5 cursor-pointer" @click="document.getElementById('scanCoupon').play(); scanPageActions = false; scanPagePayActions = true;">
						<div class="text-right"><img src="/images/money-hand.png" class="text-right" align="right" width="75"><br></div>
						<div class="text-5xl leading-10  font-semibold uppercase">
							<div class="text-center w-fit">Pay<br>Now</div>
						</div>
					</div>
				</div>

				<!-- Scan Page Pay Actions -->
				<div class="col-span-2" x-show="scanPagePayActions">
					<div class="grid grid-cols-2 w-[430px] mx-auto">
						<div class="bg-white mt-5 rounded-2xl text-center py-5 mx-auto cursor-pointer min-w-[200px]" @click="document.getElementById('dgBeep').play()">
							<img src="/images/bell.png" class="mx-auto" width="100"><br>
							<div class="text-2xl -mt-5 leading-6">Call For<br>Help</div>
						</div>
						<div class="bg-white mt-5 rounded-2xl text-center py-5 mx-auto cursor-pointer min-w-[200px]" @click="document.getElementById('dgBeep').play();scanPagePayActions = false;scanPageActions = true;">
							<img src="/images/cross.png" class="mx-auto" width="100"><br>
							<div class="text-2xl -mt-5 leading-6">Add<br>More Items</div>
						</div>
					</div>
					<div class="bg-[#60c329] w-[75%] mt-5 max-h-[250px] rounded-2xl text-center py-3 mx-auto grid grid-cols-2 items-center gap-5 cursor-pointer" @click="document.getElementById('insertCash').play(); scanPage = false; payWithCashScreen = true;">
						<div class="text-right pr-10"><img src="/images/cash-dispense.png" class="text-right" align="right" width="75"><br></div>
						<div class="text-3xl font-semibold">
							<div class="text-left w-fit leading-8">Pay With<br>Cash</div>
						</div>
					</div>
					<div class="bg-[#007ce4] w-[75%] mt-5 max-h-[250px] rounded-2xl text-center py-3 mx-auto grid grid-cols-2 items-center gap-5 cursor-pointer" @click="pinPadModal == false ?  document.getElementById('checkBasket').play(): ''; pinPadModal = true;">
						<div class="text-right pr-10"><img src="/images/cards.png" class="text-right" align="right" width="75"><br></div>
						<div class="text-3xl font-semibold">
							<div class="text-left w-fit leading-8">Pay With<br>Card</div>
						</div>
					</div>
					<div class="bg-[#bfc922] w-[75%] mt-5 max-h-[250px] rounded-2xl text-center py-3 mx-auto grid grid-cols-2 items-center gap-5 cursor-pointer" @click="giftCardModal == false ?  document.getElementById('selectGiftCardType').play(): ''; giftCardModal = true;">
						<div class="text-right pr-10"><img src="/images/gift-card.png" class="text-right" align="right" width="75"><br></div>
						<div class="text-3xl font-semibold">
							<div class="text-left w-fit leading-8">Pay With<br>Gift Card</div>
						</div>
					</div>
				</div>
				
				<!-- Pin Pad Modal -->
				<div x-show="pinPadModal" class="absolute top-1/4 left-1/4 w-[400px] h-[200px] border-4 border-[#fff100] bg-black text-white text-center pt-10" @click="pinPadModal = false; pleaseWaitModal = true; setTimeout(() => { document.getElementById('thankYou').play(); startPage = true; scanPage = false; scanPageActions = false; scanPagePayActions = false; scanPageHotCheetos = false; pinPadModal = false; pleaseWaitModal = false; }, 1500)">Please Wait<br>Insert/Swipe Card</div>

				<!-- Please Wait Modal -->
				<div x-show="pleaseWaitModal" class="absolute top-1/4 left-1/4 w-[400px] h-[200px] border-4 border-[#fff100] bg-black text-white text-center pt-10">Please Wait<br>Card Processing<br>(Action may be required)</div>

				<!-- Phone NUmber Modal -->
				<div x-show="phoneNumberModal" class="absolute top-1/4 left-2 w-3/4 h-2/3 rounded-lg border-8 border-white bg-[#38373f] grid grid-cols-3 justify-evenly">
					<div>&nbsp;</div>
					<div>
						<div class="grid grid-cols-4 grid-flow-row-dense gap-0 bg-white max-h-[450px]">
							<div class="text-3xl text-white col-span-4 bg-[#38373f] pt-1 font-semibold">Enter Phone Number</div>
							<div class="col-span-3 bg-[#38373f] pb-5">
								<div class="flex items-center border-b border-white py-2">
							    <input class="appearance-none bg-transparent border-none w-full text-white text-2xl mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" aria-label="" id="phoneNumberField">
							  </div>
							</div>
							<div class="bg-[#38373f]">&nbsp;</div>
						</div>
						<div class="grid grid-cols-4 grid-flow-row-dense gap-0 bg-white max-h-[450px] items-center divide-black divide-x divide-y">
							<%
								keypad_rows = [
									["7", "8", "9", "Backspace"],
									["4", "5", "6", "Clear"],
									["1", "2", "3", "Enter"],
									["0", "00", "."]
								].each do |row|
							%>
								<% row.each do |button| %>
									<% if button == "Backspace" %>
										<div class="text-center p-2 bg-black text-white pt-[12px] pb-[20px]"@click="document.getElementById('dgBeep').play(); document.getElementById('phoneNumberField').value = document.getElementById('phoneNumberField').value.slice(0, -1);">Backspace</div>
									<% elsif button == "Clear" %>
										<div class="text-center p-2 bg-black text-white pt-[12px] pb-[20px]" @click="document.getElementById('dgBeep').play();document.getElementById('phoneNumberField').value = '';">Clear</div>
									<% elsif button == "Enter" %>
										<div class="text-center p-2 row-span-2 text-2xl bg-black text-white pt-[40px] pb-[41px]" @click="document.getElementById('dgBeep').play();phoneNumberModal = false;document.getElementById('scanCoupon').play(); scanPagePayActions = true;">Enter</div>
									<% else %>
										<div class="text-center text-4xl p-2" @click="document.getElementById('dgBeep').play(); document.getElementById('phoneNumberField').value = document.getElementById('phoneNumberField').value + '<%= button %>';"><%= button %></div>
									<% end %>
								<% end %>
							<% end %>
						</div>
					</div>
					<div>&nbsp;</div>
				</div>

				<!-- Gift Card Modal -->
				<div x-show="giftCardModal" class="absolute top-1/4 left-2 w-3/4 h-2/3 rounded-lg border-8 border-[#fff100] bg-[#38373f] grid grid-cols-3 grid-flow-row">
					<div class="col-span-3 text-white text-center text-lg py-16">Please select your gift card type:</div>
					<div>
						<div class="rounded-2xl bg-[#fff100] p-5 text-center text-2xl text-black max-w-[300px] mx-auto" @click="pinPadModal == false ?  document.getElementById('checkBasket').play(): ''; pinPadModal = true;giftCardModal = false;">
							<img src="/images/card.png" class="mx-auto h-[100px]" height="100"><br>
							Swipe
						</div>
					</div>
					<div>
						<div class="rounded-2xl bg-[#fff100] p-5 text-center text-2xl text-black max-w-[300px] mx-auto" @click="pinPadModal == false ?  document.getElementById('checkBasket').play(): ''; pinPadModal = true;giftCardModal = false;">
							<img src="/images/barcode.png" class="mx-auto h-[100px]" height="100"><br>
							Barcode
						</div>
					</div>
					<div>
						<div class="rounded-2xl bg-[#fff100] p-5 text-center text-2xl text-black max-w-[300px] mx-auto" @click="document.getElementById('dgBeep').play();giftCardModal = false;">
							<img src="/images/cancel.png" class="mx-auto h-[100px]" height="100"><br>
							Cancel
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Pay With Cash Screen -->
	<div class="h-screen w-screen bg-[#fff100] grid grid-cols-2 grid-flow-row" x-show="payWithCashScreen">
		<div class="text-center col-span-2 text-4xl my-5">Please insert cash, or select Pay Another Way</div>

		<div class="text-4xl text-right font-semibold">Total Due:</div>
		<div class="text-4xl text-left ml-24 font-semibold">$3.09</div>
		<div class="text-4xl text-right font-semibold">Amount Paid:</div>
		<div class="text-4xl text-left ml-24 font-semibold" x-show="nothingPaid">$0.00</div>
		<div class="text-4xl text-left ml-24 font-semibold" x-show="fullyPaid">$3.09</div>
		<div class="text-4xl text-right font-semibold">Balance Due:</div>
		<div class="text-4xl text-left ml-24 font-semibold" x-show="nothingPaid">$3.09</div>
		<div class="text-4xl text-left ml-24 font-semibold" x-show="fullyPaid">$0.00</div>

		<div class="col-span-2 text-center">
			<div class="w-[400px] bg-black text-white text-xl p-5 mx-auto cursor-pointer" @click="nothingPaid = false; fullyPaid = true; setTimeout(() => { document.getElementById('thankYou').play(); startPage = true; scanPage = false; scanPageActions = false; scanPagePayActions = false; scanPageHotCheetos = false; pinPadModal = false; pleaseWaitModal = false; payWithCashScreen = false; }, 1500)">Pay Another Way</div>
		</div>

	</div>
	<script>
    const setup = () => {
	    return {
	      startPage: true,
	      scanPage: false,
	      scanPageActions: false,
	      scanPagePayActions: false,
	      scanPageHotCheetos: false,
	      pinPadModal: false,
	      pleaseWaitModal: false,
	      phoneNumberModal: false,
	      giftCardModal: false,
	      payWithCashScreen: false,
	      nothingPaid: true,
	      fullyPaid: false
      }
    }
  </script>
  <audio src="/audio/welcome.mp3" class="hidden" id="welcomeAudio"></audio>
  <audio src="/audio/dg_beep.mp3" class="hidden" id="dgBeep"></audio>
  <audio src="/audio/scan_a_coupon.mp3" class="hidden" id="scanCoupon"></audio>
  <audio src="/audio/check_basket.mp3" class="hidden" id="checkBasket"></audio>
  <audio src="/audio/thank_you.mp3" class="hidden" id="thankYou"></audio>
  <audio src="/audio/insert_cash.mp3" class="hidden" id="insertCash"></audio>
  <audio src="/audio/enter_phone_number.mp3" class="hidden" id="enterPhoneNumber"></audio>
  <audio src="/audio/select_gift_card_type.mp3" class="hidden" id="selectGiftCardType"></audio>
</body>
</html>
