<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Open Dollar General Self Checkout</title>

	<link rel="apple-touch-icon" href="/favicon.png">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">

	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

	<link rel="stylesheet" href="/css/output.css">
</head>
<body x-data="setup()">
	<!-- Start Page -->
	<div class="h-screen w-screen max-h-screen overflow-hidden" x-show="startPage">
		<div class="h-2/3 min-h-2/3 w-[300%] ml-[-100%] rounded-bl-[50%] rounded-br-[50%] bg-[#fff100] text-center">
			<div class="w-screen mx-auto grid grid-cols-2 justify-center pt-16">
				<div><img class="mx-auto" src="/images/dg-logo-inverted.png" width="400"></div>
				<div><div class="mx-auto font-bold text-3xl text-left w-fit">Press Start or<br>scan an item to begin</div></div>
			</div>

			<div class="w-screen mx-auto grid grid-cols-8 pt-[2%]">
				<div class="col-span-2">&nbsp;</div>
				<div class="col-span-4">
					<div @click="startPage = false; scanPage = true; document.getElementById('welcomeAudio').play();" class="grid grid-cols-3 w-fit rounded-3xl bg-black p-10 cursor-pointer">
						<div class="border-r-4 border-r-white w-fit pr-5"><img src="/images/cart.png" width="100"></div>
						<div class="text-white font-bold uppercase text-left text-4xl col-span-2 whitespace-nowrap">Start<br>Self Checkout</div>
					</div>
				</div>
			</div>
		</div>
		<div class="h-1/3 w-screen bg-white pt-10">
			<div class="grid grid-cols-8">
				<div class="col-span-3 text-right uppercase text-5xl">TO PAY<br>WITH</div>
				<div class="text-center"><img class="mx-auto" src="/images/dg-go.png" width="100"></div>
				<div class="col-span-2 text-4xl uppercase pl-5 whitespace-nowrap">SCAN QR CODE<br>FROM THE APP</div>
				<div><img class="-mt-20 min-w-[170px]" src="/images/qr_phone_hand.png" width="300"></div>
			</div>
		</div>
	</div>

	<!-- Scan Page -->
	<div class="h-screen w-screen max-h-screen overflow-hidden" x-show="scanPage">
		<div class="w-screen h-1/5 bg-white grid grid-cols-5 items-center p-5">
			<div class="text-2xl col-span-2">
				Welcome to Self-Checkout.<br>
				Please scan your items.<br>
				Press Pay Now when you are finished.
			</div>
			<div class="col-span-2"><img class="mx-auto" src="/images/dg-logo.png" width="400"></div>
			<div>
				<img src="/images/dg-pickup-logo.png" width="400"><br>
				<div class="text-center font-bold text-3xl">In and out in<br>1 minute.</div>
			</div>
		</div>

		<div class="w-screen h-4/5 grid grid-cols-5">
			<div class="col-span-4 bg-gradient-to-tr from-[#6694d2] to-[#5b6681]">
				<div class="w-100 min-h-full bg-[url('/images/dg-letters.png')] bg-repeat">
					
					<h1>Scan!</h1>
				</div>
			</div>
			<div class="col-span-1 bg-white">Ferda</div>
		</div>
	</div>
	<script>
    const setup = () => {
	    return {
	      startPage: false,
	      scanPage: true,
	      scanPageSidebar: false,
	      scanPageActions: false,
	      scanPagePayActions: false,
	      donateModal: false,
	      pinPadModal: false,
	      pleaseWaitModal: false
      }
    }
  </script>
  <audio src="/audio/welcome.mp3" class="hidden" id="welcomeAudio"></audio>
</body>
</html>
